*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    width: 700px;
}

html,body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-image: url('../Images/background-img.png');
    background-size: 100% ;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Side Navigation Bar */
.nav-bar{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #130f40;
    width:55px;
    height:100%;
    
}
.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 3.5rem;
    transition: all 0.5s;
}
.slide a img{
    position: absolute;
    top:0.5rem;
    z-index: 100;
    left: 0.8rem;
    color: #fff;
    height: 1.2rem;
    width: 1.5rem;
} 

.nav{
    background-color: #130f40;
}
.nav a{
    display: block;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
} 
.nav-inner{
    margin-left: 2.5rem;
}
.nav .close img{
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 0;
    left: 8.5rem;
    margin-left: 0.6rem;
    margin-top: 0.8rem;
}
/* Side Navigation Bar End*/
.image{
    width: 50%;
}
.image img{
    height: 100%;
    width: 100%;
}
.form-data{
    text-align: center;
}
.register-box{
   width: 50%;
   background-color: #1B1464;
   padding:1.2rem;     
   display: flex;
   flex-direction: column;
   border-top-right-radius: 0.5rem;
   border-bottom-right-radius: 0.5rem;    
}
.form-data .box input{
    color: #fff;
    background: none;
    width: 100%;
    border: none;
    outline: none;
    padding:0.8rem;
    border-bottom: 1px solid  #fff;
    padding: 0.2rem;
}
.form-data .box label{
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    letter-spacing: 1px;
    pointer-events: none;
    transition: 0.5s;
    
}
.form-data .box input:focus ~ label,
.form-data .box input:valid ~ label{
   top: -20px;
    left: 0;
    color: #feca57;
    font-size: 0.8rem;
    
}
h2{
    color: #fff;
    margin-bottom: 3rem;
    font-weight: 500;
    
}
.box{
    margin-left: 2rem;
    position: relative;
    width: 50%;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.form-data .box .mybtn{
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background: none;
    cursor: pointer;
    background-color: #ff9f1a;
    color: #fff;
    padding: 0.5rem 2.5rem;
    border-radius: 0.5rem;
    outline: none;
}
.diya-img{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 2px;
    left: 1rem;
}
/*
label{
    color: #fff;
    position: absolute;
    top: 0;left: 0;
    pointer-events: none;
}
*/


span{
    color: #ff7675;
    font-size: 0.8rem;
    font-weight: 500;
}


@media (max-width:690px){
    .image{
        display: none;
    }
    .container{
      width: 400px;   
    }
    .register-box{
        width: 100%;
    }
}

@media (max-width:400px){
    h2{
        font-size: 1rem;
    }
    .container{
      width: 100vw;
        padding: 1.1rem;
    }
    .register-box{
        width: 100%;
    }
}



































